 .message {}

 .imageAndText {
   margin: 20px;
   display: inline-block;
 }

 .imageAndText img {
   width: 80px;
   height: 80px;
 }

 .text {}

 .text:after {}

 .name {}

 .messageText {
   color: gray;
 }

 .time {
   text-align: center;
   font-size: 13px;
 }