.buttonsContainer {
  gap: 20px;
  display: flex;
  align-items: center;
}

.responseContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 30px;
  margin: 30px;
}

.imageContainer {
  width: 100%;
}

.image {
  width: 400px;
  height: 400px;
}


.textContainer {
  padding: 20px;
}

.code {
  font: Montserrat;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  padding: 20px;
}

.text {
  padding: 4px;
  line-height: 20px;
}

.info {
  padding: 4px;
  line-height: 20px;
}