.tech {
    width: 50vw;
}

.developer {}

.techHeader {
    width: 50vw;
    color: #000000;
    font-weight: 600;
    font-size: 14px;
}

.developerHeader {
    color: #000000;
    font-weight: 600;
    font-size: 14px;
}

.row {
    display: flex;
}

.rowHeader {
    display: flex;
    gap: 10px;
    width: 49%;
    background-color: #E5E5E5;
    padding: 15px;
    border-radius: 5px;
}

.loading {}