 .friendMessage {
   padding: 2px;
   display: flex;
   justify-content: flex-end;
   margin-right: 10%;
 }

 .friendImageAndText {
   margin: 0px 5px 20px 5px;
   display: flex;
   align-items: center;
   gap: 30px;
 }

 .friendImageAndText img {
   width: 80px;
   height: 80px;
 }

 .friendText {
   align-self: flex-end;
 }

 .friendText::before {
   right: -7px;
   width: 20px;
   background-color: #F5F7FB;
   border-bottom-left-radius: 16px 14px;
 }

 .friendText::after {
   right: -26px;
   width: 26px;
   background-color: white;
   border-bottom-left-radius: 10px;
 }

 .friendName {
   display: inline-block;
   margin-bottom: 5px;
 }

 .friendMessageText {
   color: gray;
 }

 .friendTime {
   text-align: center;
   font-size: 13px;
   color: gray;
 }