 .message {
   padding: 2px;
   margin-left: 10%;
 }

 .imageAndText {
   margin: 0px 5px 20px 5px;
   display: flex;
   align-items: center;
   gap: 30px;
 }

 .imageAndText img {
   width: 80px;
   height: 80px;
 }

 .text {
   align-self: flex-start;
 }

 .text::before {
   left: -7px;
   width: 20px;
   background-color: #F5F7FB;
   border-bottom-right-radius: 16px 14px;
 }

 .text:after {
   left: -26px;
   width: 26px;
   background-color: white;
   border-bottom-right-radius: 10px;
 }


 .name {
   display: inline-block;
   margin-bottom: 5px;
 }

 .messageText {
   color: gray;
 }

 .time {
   text-align: center;
   font-size: 13px;
   color: gray;
 }