 .friendMessage {}

 .friendImageAndText {
   margin: 20px;
   display: inline-block;
 }

 .friendImageAndText img {
   width: 80px;
   height: 80px;
 }

 .friendText {}

 .friendText:after {}

 .friendName {}

 .friendMessageText {}

 .friendTime {}