.button {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em;
  width: 132px;
  height: 30px;
  border-radius: 3px;
  border: none;
  padding: 5px 24px 5px 24px;
}

.disabled {
  opacity: 50%;
  background: rgba(0, 102, 204, 1);
}

.secondary {}

.default {
  background: rgba(0, 102, 204, 1);
}

.red {
  background: rgba(204, 20, 57, 1);
}

.default:hover {}

.red:hover {}

.secondary:hover {}


.default:active {}

.secondary:active {}

.red:active {}

.button:disabled {}