.pagination {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}

.text1 {
    color: #0D0B0C;
    font-weight: 400;
    font-size: 14px;
}

.text2 {
    color: #0D0B0C;
    font-weight: 400;
    font-size: 14px;
}

.select {
    width: auto;
}